/* write your carousel css in this file */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 1.3% 5% 1% 5%;
}

.titles{
    display: block;
    position: absolute;
    margin-top: 15%;
    width: fit-content;
    text-align: center;
}

.title{
    font-size: 4em;
    padding: 3%;
    background-color: rgb(255, 255, 255, 0.600);
    border-radius: 5px;
}

.subtitle{
    margin-top: 40%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.600);
    padding: 3%;
}

.Arrow{
    color: white;
}
